<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <connectionStrings>
    <clear/>
    <add name="priority" connectionString="Data Source=S44022\PRI;Initial Catalog=a012915;Persist Security Info=True;User ID=tabula;Password=tabula~!2" providerName="System.Data.SqlClient"  />
  </connectionStrings> 
</configuration>